<!DOCTYPE HTML>
<html>
<head>
<link rel="shortcut icon" type="image/icon" href="../static/login/logo/favicon.png"/>
<title>Multi-Stage Intelligent System for Automated Recognition and Segmentation of Eyeball Pterygium</title>
<link href="../static/login/css/login.css" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- -->
<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
<script src="../static/login/js/jquery.min.js"></script>

</head>
<body>
<img src="../static/login/images/logo.jpg" alt="" style="display: block; margin: 0 auto; margin-top: 5rem" width="10%">
<!-- contact-form -->	
<div class="message warning">
<div class="inset">
	<div class="login-head">
		<img src="../static/login/logo/favicon.png" width="60"><h1>Multi-Stage Diagnosis Framework for Eyeball Pterygium Based on Deep Learning</h1>
	</div>
	<form method="post">
		<p class="notice">Username.:</p>
		<li>
			<input type="text" name="username" value="" ><span class="fas fa-user"></span>
		</li>
			<div class="clear"> </div>
		<p class="notice">Password:</p>
		<li class="password-wrapper">
			<input type="password" name="password" value="" id="password"> <span class="toggle-password fas fa-eye "></span>
		</li>
		<div class="clear"> </div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<span style="color:red;">{{ message }}</span>
			{% endfor %}
		{% endif %}
		{% endwith %}
		<div class="submit">
			<input type="submit" onclick="myFunction()" value="login" >
					  <div class="clear">  </div>
		</div>

	</form>

</div>
	</div>
	</div>
	<div class="clear"> </div>
<!--- footer --->

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var togglePassword = document.querySelector('.toggle-password');
		if (togglePassword) {
			togglePassword.addEventListener('click', function (e) {
				var passwordInput = document.querySelector('#password');
				if (passwordInput.type === 'password') {
					passwordInput.type = 'text';
					togglePassword.classList.remove('fa-eye');
					togglePassword.classList.add('fa-eye-slash');
				} else {
					passwordInput.type = 'password';
					togglePassword.classList.remove('fa-eye-slash');
					togglePassword.classList.add('fa-eye');
				}
			});
		}
	});

</script>
</body>
</html>