<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="./test.css">
<body>
<ul class="accordion">
    <li id="item1">
        <a href="#item1">我的模型</a>
        <div class="content">我的模型的内容...</div>
    </li>
    <li id="item2">
        <a href="#item2">模型训练</a>
        <div class="content">模型训练的内容...</div>
    </li>
    <li id="item3">
        <a href="#item3">数据集</a>
        <div class="content">
            <ul>
                <li>管理数据集</li>
                <li>数据集构架指南</li>
            </ul>
        </div>
    </li>
    <li id="item4">
        <a href="#item4">模型测试</a>
        <div class="content">模型测试的内容...</div>
    </li>
    <li id="item5">
        <a href="#item5">日志</a>
        <div class="content">日志的内容...</div>
    </li>
</ul>

</body>
</html>